.container {
  box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
  border: 2px solid #4a4a4a;
  border-radius: 10px;
  margin: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.inputActivity {
  height: 30px;
  width: 500px;
  border-radius: 10px;
}

.box {
  display: flex;
  flex-direction: column;
  width: max-content;
  justify-content: center;
  margin: auto;
}

.list {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  column-gap: 10px;
  row-gap: 20px;
}
